<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
      
    </head>
    <body>
        <h1>{{address}}</h1>
        <h1>{{day}}</h1>
          <script>src="/js/app.js"</script>
    </body>
</html>